@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.navbar .btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0d6786;
  border-color: #0d6786;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #149dcc;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.navbar-caption {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #149dcc;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #149dcc;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.cid-qxIGFa4wrP {
  background-image: url("../../../assets/images/microservice-2000x1378.png");
}
.cid-qxIGFa4wrP .icons-media-container {
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-top: 4rem;
}
.cid-qxIGFa4wrP .icons-media-container .mbr-iconfont {
  font-size: 96px;
  color: #ffffff;
}
.cid-qxIGFa4wrP .icons-media-container .icon-block {
  padding-bottom: 1rem;
}
.cid-qxIGFa4wrP .mbr-text {
  color: #ffffff;
}
.cid-qxIGFa4wrP .card {
  padding-bottom: 1.5rem;
}
.cid-qxZTq56m0W {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qxZTq56m0W .mbr-section-subtitle {
  color: #767676;
}
.cid-qxZTq56m0W H2 {
  color: #ff3366;
}
.cid-qxZUjYMNwx {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qxZUjYMNwx h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qxZUjYMNwx p {
  color: #767676;
  text-align: left;
}
.cid-qxZUjYMNwx .card-img {
  text-align: left;
}
.cid-qxZUjYMNwx .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qxZUjYMNwx .card-title,
.cid-qxZUjYMNwx .card-img {
  text-align: center;
}
.cid-qxZUjYMNwx P {
  text-align: center;
}
.cid-qxZXA8uQ9u {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0f7699;
}
.cid-qxZXA8uQ9u .line {
  background-color: #ffffff;
  color: #ffffff;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qxZXA8uQ9u .section-text {
  padding: 2rem 0;
}
.cid-qxZXA8uQ9u .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qxZXA8uQ9u .inner-container {
    width: 100% !important;
  }
}
.cid-qxZXXX2nc0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qxZXXX2nc0 h2 {
  text-align: left;
}
.cid-qxZXXX2nc0 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qxZXXX2nc0 p {
  color: #767676;
  text-align: left;
}
.cid-qxZXXX2nc0 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxZXXX2nc0 .mbr-card-img-title {
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}
.cid-qxZXXX2nc0 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-qxZXXX2nc0 .card-img {
  padding-right: 2rem;
}
.cid-qxZXXX2nc0 .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qxZXXX2nc0 .mbr-crt-title {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
@media (min-width: 992px) {
  .cid-qxZXXX2nc0 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-qxZXXX2nc0 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-qxZXXX2nc0 H2 {
  color: #ff3366;
}
.cid-qy4j0luBXL {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #073b4c;
}
.cid-qy4j0luBXL .mbr-section-subtitle {
  color: #767676;
}
.cid-qy4j0luBXL .btn {
  margin: 0 0 .5rem 0;
}
.cid-qy4j0luBXL H2 {
  color: #ffffff;
}
.cid-qy4jfdg1k5 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-qy4jfdg1k5 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qy4jfdg1k5 p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qy4jfdg1k5 .card-img {
  text-align: right;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cid-qy4jfdg1k5 .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qy4jfdg1k5 .card-box {
  padding-left: 1rem;
}
@media (max-width: 991px) {
  .cid-qy4jfdg1k5 .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-qy4jfdg1k5 .card-box {
    padding-left: 0;
  }
}
.cid-qy4jfdg1k5 P {
  text-align: center;
}
.cid-qy4jtJwQHn {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-qy4jtJwQHn h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qy4jtJwQHn p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qy4jtJwQHn .card-img {
  text-align: right;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cid-qy4jtJwQHn .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qy4jtJwQHn .card-box {
  padding-left: 1rem;
}
@media (max-width: 991px) {
  .cid-qy4jtJwQHn .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-qy4jtJwQHn .card-box {
    padding-left: 0;
  }
}
.cid-qy4jtJwQHn P {
  text-align: center;
}
.cid-qy8kBbiI8U {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-qy8kBbiI8U h4 {
  text-align: left;
  font-weight: 500;
}
.cid-qy8kBbiI8U p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-qy8kBbiI8U .card-img {
  text-align: right;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.cid-qy8kBbiI8U .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-qy8kBbiI8U .card-box {
  padding-left: 1rem;
}
@media (max-width: 991px) {
  .cid-qy8kBbiI8U .card-img {
    text-align: left;
    padding-bottom: 0.75rem;
  }
  .cid-qy8kBbiI8U .card-box {
    padding-left: 0;
  }
}
.cid-qy8kBbiI8U P {
  text-align: center;
}
.cid-qy4n3acJIn {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-qy4n3acJIn .mbr-section-text {
  color: #767676;
}
.cid-qy4n3acJIn .mbr-section-subtitle {
  color: #767676;
}
.cid-qy4n3acJIn .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qy4n3acJIn .mbr-iconfont {
  font-size: 48px;
}
.cid-qy4n3acJIn .card-img {
  margin-bottom: 1.5rem;
}
.cid-qy4n3acJIn .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qy4n3acJIn .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.cid-qy4n3acJIn .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-qy4n3acJIn .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #767676;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: color .3s;
  border: 2px solid #767676;
}
.cid-qy4n3acJIn .nav-tabs .nav-link:hover {
  background: #149dcc;
}
.cid-qy4n3acJIn .nav-tabs .nav-link.active {
  color: #ffffff;
  font-style: normal;
  border: 2px solid #149dcc;
  background: #149dcc;
}
.cid-qy4n3acJIn .nav-tabs .nav-link.active:hover {
  border: 2px solid #149dcc;
}
.cid-qy4n3acJIn H2 {
  color: #ff3366;
}
.cid-qxLeoxpx9Z {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qxLeoxpx9Z h2 {
  text-align: center;
}
.cid-qxLeoxpx9Z h3 {
  text-align: center;
  font-weight: 300;
}
.cid-qxLeoxpx9Z p {
  color: #767676;
}
.cid-qxLeoxpx9Z .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-qxLeoxpx9Z .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-qxLeoxpx9Z .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
}
.cid-qxLeoxpx9Z .mbr-section-subtitle {
  color: #767676;
}
.cid-qxLeoxpx9Z .card-title {
  font-weight: 500;
}
.cid-qxLeoxpx9Z .card-img {
  text-align: inherit;
}
.cid-qxLeoxpx9Z .card-img span {
  font-size: 48px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-qxLeoxpx9Z .mbr-figure {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-qxLeoxpx9Z .mbr-figure {
    margin-bottom: 2rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-qxLeoxpx9Z .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .cid-qxLeoxpx9Z .block-content {
    flex-direction: row;
    -webkit-flex-direction: row;
    text-align: center;
  }
  .cid-qxLeoxpx9Z .block-content .card {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
  }
}
.cid-qxLeoxpx9Z .mbr-section-title {
  color: #ff3366;
}
.cid-qxLeoxpx9Z .mbr-section-text {
  text-align: left;
}
.cid-qyg8A1n4Eq {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qyg8A1n4Eq .mbr-section-subtitle {
  color: #767676;
}
.cid-qyg8A1n4Eq .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-qyg8A1n4Eq .mbr-text {
  color: #767676;
}
.cid-qyg8A1n4Eq .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-qyg8A1n4Eq .mbr-author-name {
  color: #767676;
}
.cid-qyg8A1n4Eq .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-qyg8A1n4Eq .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-qyg8A1n4Eq .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-qyg8A1n4Eq .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qyg8A1n4Eq .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-qyg8A1n4Eq .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-qyg8A1n4Eq H2 {
  color: #ff3366;
}
.cid-qyggHTRTWe {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-qyggHTRTWe .mbr-section-subtitle {
  color: #767676;
}
.cid-qyggHTRTWe .media-container-row {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-qyggHTRTWe .mbr-text {
  color: #767676;
}
.cid-qyggHTRTWe .mbr-author-desc {
  display: block;
  color: #767676;
}
.cid-qyggHTRTWe .mbr-author-name {
  color: #767676;
}
.cid-qyggHTRTWe .mbr-testimonial .panel-item {
  background-color: #ffffff;
}
.cid-qyggHTRTWe .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 2.4rem 2.4rem 0 2.4rem;
}
.cid-qyggHTRTWe .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-qyggHTRTWe .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-qyggHTRTWe .mbr-testimonial .card-footer {
  padding-bottom: 2.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
@media (max-width: 300px) {
  .cid-qyggHTRTWe .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-qykhU2ZcRj {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qykhU2ZcRj .mbr-section-subtitle {
  color: #767676;
}
.cid-qykhU2ZcRj H2 {
  color: #ff3366;
}
.cid-qykhglXKiF {
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-qykhglXKiF .counter-container {
  color: #767676;
}
.cid-qykhglXKiF .counter-container ul {
  margin-bottom: 0;
}
.cid-qykhglXKiF .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
}
.cid-qykhglXKiF .counter-container ul li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #149dcc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-qykhglXKiF .mbr-text UL {
  text-align: center;
}
.cid-qy4q34bRXf {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #cc2952;
}
.cid-qy4q34bRXf .mbr-section-subtitle {
  color: #efefef;
}
.cid-qy4q34bRXf .formoid {
  margin: auto;
}
.cid-qy4q34bRXf .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-qy4q34bRXf a.btn {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}
.cid-qy4q34bRXf .input-group-btn {
  align-self: center;
  -webkit-align-self: center;
  z-index: 3;
}
.cid-qy4q34bRXf .input-group-btn .btn {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.cid-qy4q34bRXf a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-qy4q34bRXf a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qy4q34bRXf .mbr-subscribe .input-group-btn {
  display: inline-block;
}
.cid-qy4q34bRXf .mbr-subscribe .input-group-btn button,
.cid-qy4q34bRXf .mbr-subscribe .input-group-btn a {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
@media (max-width: 350px) {
  .cid-qy4q34bRXf .mbr-subscribe {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qy4q34bRXf input[type="email"] {
    width: 100%;
    margin-bottom: 2px;
  }
  .cid-qy4q34bRXf .input-group-btn {
    width: 100%;
  }
  .cid-qy4q34bRXf .input-group-btn .btn {
    border-radius: 3px;
  }
}
@media (max-width: 768px) {
  .cid-qy4q34bRXf .input-group-btn a.btn {
    width: 100%;
  }
  .cid-qy4q34bRXf .input-group-btn {
    width: calc(92%);
  }
  .cid-qy4q34bRXf .input-group-btn button[type="submit"] {
    width: 100%;
  }
  .cid-qy4q34bRXf .input-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    max-width: 300px;
  }
  .cid-qy4q34bRXf .input-group input[type="email"] {
    width: 100%;
    margin-bottom: 3px;
  }
  .cid-qy4q34bRXf .input-group span {
    display: inline;
    padding-left: 0;
    padding-right: 0;
  }
  .cid-qy4q34bRXf .input-group-btn button,
  .cid-qy4q34bRXf .input-group-btn a {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 769px) {
  .cid-qy4q34bRXf .mbr-subscribe > * {
    margin: 0 0.5rem;
  }
}
.cid-qy4q34bRXf H2 {
  color: #ffffff;
}
.cid-qy5KyiAkli {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qy5KyiAkli .mbr-section-subtitle {
  color: #767676;
}
.cid-qy5KyiAkli .btn {
  margin: 0 0 .5rem 0;
}
.cid-qy5KyiAkli H2 {
  color: #ff3366;
}
.cid-qy4rClwuye {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #efefef;
}
.cid-qy4rClwuye .pricing {
  padding: 3.3rem;
  color: #767676;
  background-color: #fff;
}
@media (max-width: 767px) {
  .cid-qy4rClwuye .pricing {
    padding: 1.5rem;
  }
}
.cid-qy4rClwuye .plan-header,
.cid-qy4rClwuye .plan-body {
  background-color: #fff;
}
.cid-qy4rClwuye .plan-title {
  margin-top: 1.4rem;
}
.cid-qy4rClwuye .price-figure {
  font-weight: 700;
  color: #232323;
}
@media (max-width: 550px) {
  .cid-qy4rClwuye .price-figure {
    font-size: 4.25rem;
  }
}
.cid-qy4rClwuye .price-value {
  font-weight: 700;
  vertical-align: top;
}
.cid-qy4rClwuye hr {
  margin: 2rem 0;
}
.cid-qy4rClwuye P {
  text-align: center;
}
.cid-qy5JeAEcjs .google-map {
  height: 25rem;
  position: relative;
}
.cid-qy5JeAEcjs .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-qy5JeAEcjs .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-qy5JeAEcjs .google-map[data-state] {
  background: #e9e5dc;
}
.cid-qy5JeAEcjs .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-qy5JlqWFcb {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qy5JlqWFcb .title {
  margin-bottom: 2rem;
}
.cid-qy5JlqWFcb .mbr-section-subtitle {
  color: #767676;
}
.cid-qy5JlqWFcb a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qy5JlqWFcb a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qy5JlqWFcb .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qy5JlqWFcb .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qy5JlqWFcb H2 {
  color: #ff3366;
}
.cid-qxLnWE9sjj .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qxLnWE9sjj .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qxLnWE9sjj a {
  font-style: normal;
}
.cid-qxLnWE9sjj .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qxLnWE9sjj .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qxLnWE9sjj .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qxLnWE9sjj .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qxLnWE9sjj .menu-logo {
  margin-right: auto;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qxLnWE9sjj .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qxLnWE9sjj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qxLnWE9sjj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qxLnWE9sjj .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qxLnWE9sjj .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qxLnWE9sjj .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qxLnWE9sjj button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qxLnWE9sjj button.navbar-toggler:focus {
  outline: none;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qxLnWE9sjj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxLnWE9sjj nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qxLnWE9sjj nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qxLnWE9sjj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxLnWE9sjj .collapsed .btn {
  display: flex;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qxLnWE9sjj .collapsed button.navbar-toggler {
  display: block;
}
.cid-qxLnWE9sjj .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qxLnWE9sjj .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxLnWE9sjj .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qxLnWE9sjj .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qxLnWE9sjj .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qxLnWE9sjj .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qxLnWE9sjj img {
    height: 3.8rem !important;
  }
  .cid-qxLnWE9sjj .btn {
    display: flex;
  }
  .cid-qxLnWE9sjj button.navbar-toggler {
    display: block;
  }
  .cid-qxLnWE9sjj .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qxLnWE9sjj .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qxLnWE9sjj .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing,
  .cid-qxLnWE9sjj .navbar-collapse.show {
    display: block !important;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-nav,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-buttons,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxLnWE9sjj .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qxLnWE9sjj .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qxLnWE9sjj .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qxLnWE9sjj .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qy4oSq4Rho {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-qy4oSq4Rho .content {
    text-align: center;
  }
  .cid-qy4oSq4Rho .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-qy4oSq4Rho .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-qy4oSq4Rho .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-qy4oSq4Rho .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-qy4oSq4Rho .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qy4oSq4Rho .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qy4oSq4Rho .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qy4oSq4Rho .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qy4oSq4Rho .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qy4oSq4Rho .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qy4oSq4Rho .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qy4oSq4Rho .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qxLnWE9sjj .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qxLnWE9sjj .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qxLnWE9sjj a {
  font-style: normal;
}
.cid-qxLnWE9sjj .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qxLnWE9sjj .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qxLnWE9sjj .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qxLnWE9sjj .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qxLnWE9sjj .menu-logo {
  margin-right: auto;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qxLnWE9sjj .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qxLnWE9sjj .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qxLnWE9sjj .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qxLnWE9sjj .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qxLnWE9sjj .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qxLnWE9sjj .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qxLnWE9sjj .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qxLnWE9sjj .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qxLnWE9sjj .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qxLnWE9sjj button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qxLnWE9sjj button.navbar-toggler:focus {
  outline: none;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qxLnWE9sjj button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qxLnWE9sjj nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxLnWE9sjj nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qxLnWE9sjj nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qxLnWE9sjj nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qxLnWE9sjj .collapsed .btn {
  display: flex;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qxLnWE9sjj .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qxLnWE9sjj .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qxLnWE9sjj .collapsed button.navbar-toggler {
  display: block;
}
.cid-qxLnWE9sjj .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qxLnWE9sjj .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qxLnWE9sjj .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qxLnWE9sjj .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qxLnWE9sjj .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qxLnWE9sjj .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qxLnWE9sjj img {
    height: 3.8rem !important;
  }
  .cid-qxLnWE9sjj .btn {
    display: flex;
  }
  .cid-qxLnWE9sjj button.navbar-toggler {
    display: block;
  }
  .cid-qxLnWE9sjj .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qxLnWE9sjj .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qxLnWE9sjj .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing,
  .cid-qxLnWE9sjj .navbar-collapse.show {
    display: block !important;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-nav,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-buttons,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qxLnWE9sjj .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qxLnWE9sjj .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qxLnWE9sjj .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qxLnWE9sjj .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qxLnWE9sjj .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qxLnWE9sjj .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qyUYtq0kJK {
  background: linear-gradient(45deg, #7fd9fc, #6576aa);
}
